"$schema" = 'https://starship.rs/config-schema.json'

format = """
$os\
$shell\
$directory\
$git_branch\
$git_status\
$c\
$rust\
$golang\
$nodejs\
$python\
$line_break\
$character"""

palette = 'catppuccin_frappe'

[os]
disabled = false
style = "fg:flamingo"

[os.symbols]
Windows = ""
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = "󰀵"
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
AOSC = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[shell]
disabled = false
style = "fg:flamingo"
format = '[ $indicator]($style)'

[directory]
style = "fg:peach"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
symbol = ""
style = "fg:yellow"
format = '[[$symbol $branch ](fg:yellow)]($style)'

[git_status]
ahead = "⇡$count"
behind = "⇣$count"
diverged = "⇕⇡$ahead_count ⇣$behind_count"
untracked = "?$count "
staged = "+$count "
modified = "!$count "
style = "fg:yellow"
format = '[[($all_status$ahead_behind )](fg:yellow)]($style)'

[nodejs]
symbol = ""
style = "fg:green"
format = '[[$symbol( $version) ](fg:green)]($style)'

[c]
symbol = " "
style = "fg:blue"
format = '[[$symbol( $version) ](fg:green)]($style)'

[rust]
symbol = ""
style = "fg:green"
format = '[[$symbol( $version) ]($style)]($style)'

[golang]
symbol = ""
style = "fg:sky"
format = '[[$symbol( $version) ]($style)]($style)'

[python]
symbol = ""
style = "fg:green"
format = '[[$symbol( $version)(\(#$virtualenv\)) ](fg:green)]($style)'

[docker_context]
symbol = ""
style = "fg:sapphire"
format = '[[$symbol( $context) ](fg:sapphire)]($style)'

[character]
disabled = false
success_symbol = '[❯](bold fg:green)'
error_symbol = '[❯](bold fg:red)'
vimcmd_symbol = '[❮](bold fg:green)'
vimcmd_replace_one_symbol = '[❮](bold fg:lavender)'
vimcmd_replace_symbol = '[❮](bold fg:lavender)'
vimcmd_visual_symbol = '[❮](bold fg:yellow)'

[palettes.catppuccin_frappe]
rosewater = "#f2d5cf"
flamingo = "#eebebe"
pink = "#f4b8e4"
mauve = "#ca9ee6"
red = "#e78284"
maroon = "#ea999c"
peach = "#ef9f76"
yellow = "#e5c890"
green = "#a6d189"
teal = "#81c8be"
sky = "#99d1db"
sapphire = "#85c1dc"
blue = "#8caaee"
lavender = "#babbf1"
text = "#c6d0f5"
subtext1 = "#b5bfe2"
subtext0 = "#a5adce"
overlay2 = "#949cbb"
overlay1 = "#838ba7"
overlay0 = "#737994"
surface2 = "#626880"
surface1 = "#51576d"
surface0 = "#414559"
base = "#303446"
mantle = "#292c3c"
crust = "#232634"
